$decoder-background-color: #0a7e0aa2;
$decoder-input-back-color: #8d7d7db0;
$decoder-solved-color: #bdbdbdbb;
$decoder-solved-background-color: #00000034;
$decoder-input-text-color: #2b2525;
$decoder-text-color: #b9b8b8;