$encoder-background-color: #4b3d6da2;
$encoder-input-back-color: #8d7d7db0;
$encoder-result-color: #05ac0dbb;
$encoder-result-background-color: #00000034;
$encoder-input-text-color: #2b2525;
$encoder-text-color: #b9b8b8;